<div class="container-fluid upper-container">
  <div class="row">
    <div class="jumbotron">
      <div class="row">
        <div class="col-12 upper-img">
<!--          <img src="slide_02.jpg" class="img-responsive">-->
          <%= image_tag 'slide_01.jpg', class: "img-responsive"%>
        </div>
      </div>
      <div class="row upper-text">
        <span class="upper-h1 col-12 text-center">
          <h1>- Strip Poker site for AMATEURS -</h1>
        </span>
        <p class="upper-paragraph text-center">Listed below are key elements for our site and a list of charges for our players. For as
          <span style="color:#e82424">little as 2c a minute with the total game cost about 20c,</span> players can be assured of getting
          value for money. To be fair to players who play regularly their rate is even cheaper.</p>
        <br>

      </div>
      <p class="upper-paragraph text-center">
        <span style="color:#2440c0;">CAN YOU AFFORD A FEW CENTS FOR SOME ADULT ENTERTAINMENT?</span>
      </p>

    </div>
  </div>
</div>
<hr>

<div class="container bottom-container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mid-data">
      <h2>
<!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        No Contracts
      </h2>
      <p style="color:#2440c0;">There are no contracts that auto renew as we consider this very unbusinessman like. You buy the amount of
        time you can afford. To be fair there are discounts for big time users.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mid-data">
      <h2>
<!--        <img src="pencil-60-119100.png" class="mid-icons"> -->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        Secure
      </h2>
      <p style="color:#2440c0;">Your privacy is our main concern, your registration details will not be sold or used in any way to promote
        products even our own products.You can find out about our deals by visiting our site.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mid-data">
      <h2>
<!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        Personal
      </h2>
      <p style="color:#2440c0;">Personal customer service is what we will strive to achieve. Being a international web site we will not be
        available at some time. We will endeavour to contact you at our earliest convenience.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mid-data">

      <h2>
<!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        Professional
      </h2>
      <p style="color:#2440c0;">We will conduct ourselves professionally in our dealings with members. We ask members to act professionally
        to each other as well. Non compliance will not be tolerated.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 line--style">
      <h1 style="font-family: 'Acme', sans-serif;">Pricing Table -
        <em style="color: #F01215; font-size: 24px; text-align: center;">Please choose a playing mode keeping in mind a game can take between 3 to 15 mins to finish.</em>
      </h1>
    </div>
  </div>
  <hr>
  <%= render 'package_plans/new' %>
</div>
<hr>

<div class="row">
  <div class="col-12 footer-data">
    <div class="tp--mid">
      <h1 class="contact">Contact Us</h1>
      <br>
      <h3 class="mail">GamesDirector@strippals.com</h3>
      <h3 class="mail">admin@strippals.com</h3>
      <h3 class="mail">help@strippals.com</h3>
    </div>
  </div>
</div>

<hr>
