<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">-->
<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">-->
<!--  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>-->
<div class="clearfix" id="page" style='min-height:500px;'><!-- column -->
  <div class="position_content" id="page_position_content">
    <div class="browser_width colelem" id="u543-bw">
      <div id="u543"><!-- simple frame --></div>
    </div>
    <div class="SlideShowWidget clearfix colelem" id="slideshowu419"><!-- none box -->
      <div class="popup_anchor" id="u435popup">
        <div class="SlideShowContentPanel clearfix" id="u435"><!-- stack box -->
          <div class="SSSlide clip_frame grpelem" id="u489"><!-- image -->
            <%= image_tag 'slide_01.jpg', width: "2000", height: "700", class: "image-position", id: "u489_img"%>
          </div>
          <div class="SSSlide invi clip_frame grpelem" id="u504"><!-- image -->
            <%= image_tag('slide_02.jpg', width: "900", height: "250")%>
          </div>
          <div class="SSSlide invi clip_frame grpelem" id="u519"><!-- image -->
            <%= image_tag 'slide_03.jpg', width: "900", height: "250", id: "u519_img"%>
          </div>
        </div>
      </div>
      <div class="popup_anchor" id="u422popup">
        <div class="SSSlideLinks clearfix" id="u422"><!-- horizontal-rows box -->
          <div class="SSSlideLink rounded-corners grpelem" id="u492"><!-- image --></div>
          <div class="SSSlideLink rounded-corners grpelem" id="u507"><!-- image --></div>
          <div class="SSSlideLink rounded-corners grpelem" id="u522"><!-- image --></div>
        </div>
      </div>
      <div class="popup_anchor" id="u430popup">
        <div class="SlideShowCaptionPanel clearfix" id="u430"><!-- stack box -->
          <div class="SSSlideCaption clearfix grpelem" id="u495-6"><!-- content -->
            <p><span style="color: #BF14F7;font-size: 50px;font-weight: 600;">It is a game of luck!!!!</span></p>
            <p><span style="color: #BF14F7;font-size: 50px;font-weight: 600;">NO SKILL REQUIRED</span></p>
          </div>
          <div class="SSSlideCaption invi clearfix grpelem" id="u510-4"><!-- content -->
            <p><span style="color: #BF14F7;font-family: 'myfont';">Play online face to face</span></p>
            <p><span style="color: #BF14F7;font-family: 'myfont';">against fellow members.</span></p>
          </div>
          <div class="SSSlideCaption invi clearfix grpelem" id="u525-6"><!-- content -->
            <p><span style="color: #BF14F7;font-family: 'myfont';">Join in the fun!</span></p>
            <p><span style="color: #BF14F7;font-family: 'myfont';">Play in our competitions!!</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="rgba-background colelem" id="u534"><!-- simple frame --></div>
    <div class="rgba-background colelem" id="u535"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu739"><!-- group -->
      <div class="browser_width grpelem" id="u739-bw">
        <div id="u739"><!-- column -->
          <div class="clearfix" id="u739_align_to_page">
            <div class="clearfix colelem" id="u754-4"><!-- content -->
              <p style="font-size: 48px; color: #0D0D0D; font-family: 'myfont';" >Welcome to Strip Pals!</p>
              <p><span style="color: #F01215;font-size: 48px; font-family: 'myfont';">- A Strip Poker site for AMATEURS -</span></p>
            </div>
            <div class="clearfix colelem" id="pu756"><!-- group -->
              <div class="grpelem" id="u756"><!-- simple frame --></div>
              <div class="grpelem" id="u757"><!-- simple frame --></div>
              <div class="grpelem" id="u758"><!-- simple frame --></div>
            </div>
            <div class="clearfix colelem" id="pu759-4"><!-- group -->
              <div class="clearfix grpelem" id="u759-4"><!-- content -->
                <p style=" font-size: x-large; font-family: 'myfont';" class="font-color">Strip Me Naked App</p>
              </div>
              <div class="clearfix grpelem" id="u760-4"><!-- content -->
                <p style="font-size: x-large; font-family: 'myfont';" class="font-color">App Instructions</p>
              </div>
              <div class="clearfix grpelem" id="u761-4"><!-- content -->
                <p style=" font-size: x-large; font-family: 'myfont';" class="font-color">SITE TERMS &amp; CONDITIONS</p>
              </div>
            </div>
            <div class="clearfix colelem" id="pu762-4"><!-- group -->
              <div class="clearfix grpelem" id="u762-4"><!-- content -->
                <p style=" font-family: 'Eras Demi ITC';" class="text-postion font-color">Watch how to play the app video here. The video tells of the origin of this 200 year old game. It is s free app catering for all platforms. </p>
              </div>
              <div class="clearfix grpelem" id="u763-4"><!-- content -->
                <p style="font-family: 'Eras Demi ITC';" class="text-postion font-color">Learn how to play the game here. It requires no skill and you only need luck and the fall of the cards to win. </p>
              </div>
              <div class="clearfix grpelem" id="u764-4"><!-- content -->
                <p style="font-family: 'Eras Demi ITC';" class="text-postion font-color">Every player that enters this site MUST read and ACKNOWLEDGE the terms and conditions. Any breach of these conditions will result in disiplinary action.</p>
              </div>
            </div>
            <div class="clearfix colelem" id="pbuttonu349"><!-- group -->
              <a class="nonblock nontext Button clearfix grpelem" id="buttonu349" href="https://www.youtube.com/watch?v=fNYY8PjDllw"><!-- container box --><div class="clearfix grpelem" id="u350-4"><!-- content -->
                <p style="color: #f8f8f8; font-family: 'CASTTELLAR';">View video here</p>
              </div></a>
              <%=link_to  image_url('GameRules.pdf') , class:"nonblock nontext Button clearfix grpelem", id: "buttonu783" do %>
<!--              <a class="nonblock nontext Button clearfix grpelem" id="buttonu783" href="Game Rules.pdf"><!-- container box -->
                <div class="clearfix grpelem" id="u784-4"><!-- content -->
                    <p style="color: #f8f8f8; font-family: 'CASTTELLAR';">How to play</p>
                </div>
<!--              </a>-->
              <%end %>
              <%=link_to  image_url('Terms.pdf') , class:"nonblock nontext Button clearfix grpelem", id: "buttonu785" do %>
<!--              <a class="nonblock nontext Button clearfix grpelem" id="buttonu785" href="#"><!-- container box -->
                <div class="clearfix grpelem" id="u786-4"><!-- content -->
                <p style="color: #f8f8f8;font-family: 'CASTTELLAR';">TERMS</p>
                </div>
<!--              </a>-->
              <%end %>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix grpelem" id="u755-4"><!-- content -->
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="clearfix colelem" id="pu834-3"><!-- group -->
      <div class="browser_width grpelem" id="u834-3-bw">
        <div class="clearfix" id="u834-3"><!-- content -->
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="PamphletWidget clearfix grpelem" id="pamphletu788"><!-- none box -->
        <div class="popup_anchor" id="u791popup">
          <div class="ContainerGroup clearfix tab-content " id="u791"><!-- stack box -->
            <div class="Container clearfix grpelem tab-pane active u792" id="u792a" role="tabpanel"><!-- group -->
              <div class="grpelem " id="u794"><!-- simple frame --></div>
              <div class="clearfix grpelem" id="pu795-4"><!-- column -->
                <div class="heading3 clearfix colelem" id="u795-4"><!-- content -->
                  <h3 style="font-family: 'myfont';" class="font-color">ADULT ONLY ENTERTAINMENT</h3>
                </div>
                <div class="heading3 clearfix colelem" id="u796-4"><!-- content -->
                  <h3 style="font-family: 'Eras Demi ITC';" class="font-color fade-font">This site is for adult entertainment and persons under the age of 18 must not enter. The game does involve nudity which may also be unsuitable to same adults. If nudity offends please advice your playing partners and arrange another mode of betting. </h3>
                  <h3>&nbsp;</h3>
                  <h3 style="font-family: 'Eras Demi ITC';" class="font-color fade-font">One suggestion the Games Master has is to play for commodities, this is how it was played some 200 years ago. If you wish to learn of other modes to play please contact us.</h3>
                </div>
                <div class="link clearfix colelem" id="u793-5"><!-- content -->
                  <p>&nbsp;</p>
                  <p><a href="mailto:GamesDirector@strippals.com">Games Master:</a></p>
                </div>
              </div>
            </div>
            <div class="tab-pane u802" id="u802a" role="tabpanel"><!-- group -->
              <div class="grpelem " id="u804"><!-- simple frame --></div>
              <div class="clearfix grpelem" id="pu805-4"><!-- column -->
                <div class="heading3 clearfix colelem" id="u805-4"><!-- content -->
                  <h3 style="font-family: 'myfont';" class="font-color">USER PAY SITE</h3>
                </div>
                <div class="heading3 clearfix colelem" id="u803-4"><!-- content -->
                  <h3 style="font-family: 'Eras Demi ITC';" class="font-color fade-font">To be fair to all players this is a user pay site - that is the more you use the site the less it will cost you. While every endeavour is made to accommodate players of all interests it is reccommended that players stay within their budget and do not over spend. </h3>
                  <h3>&nbsp;</h3>
                  <h3 class="font-color fade-font">For as little as 2c a minute with the total game cost about 20c, players can be assured of getting value for money.</h3>
                </div>
                <div class="link clearfix colelem" id="u806-5"><!-- content -->
                  <p><%=link_to "ENTER HERE", games_master_index_path, target: :_blank %></p>
                </div>
              </div>
            </div>
            <div class=" tab-pane" id="u797" role="tabpanel"><!-- group -->
              <div class="grpelem" id="u801"><!-- simple frame --></div>
              <div class="clearfix grpelem" id="pu800-4"><!-- column -->
                <div class="heading3 clearfix colelem" id="u799-4"><!-- content -->
                  <h3 style="font-family: 'Eras Demi ITC';" class="font-color fade-font">To accommodate different cultures and languages two chat rooms have been created -</h3>
                  <p>&nbsp; </p>
                  <h3><span style="color: #F01215" style="font-family: 'myfont'; " class="font-color font-length">Chat Room 1 is for English speaking Players.</span></h3>
                  <h3>&nbsp;</h3>
                  <h3><span style="color: #2440C0"  style="font-family: 'myfont'" class="font-length"> Chat Room 2 is for Non English Speaking Players</span>. </h3>
                  <p>&nbsp;</p>
                  <h3 class="font-color fade-font">Once registered players can search for other players online to play with, personal respect is monitored during this section to ensure players have fun with their search.</h3>
                  <h3 class="font-color font-length">CHAT ROOMS >>></h3>
                </div>
                <div class="link clearfix colelem font-color" id="u798-5"><!-- content -->
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" nav nav-tabs" id="u809" role="tablist"><!-- none box -->
          <div class="popup_anchor">
            <a  href="#u792a" class="nav-link active" data-toggle="tab" role="tab" id="overview" >
              <div class="Thumb popup_element clearfix" id="u810"><!-- group -->
                <div class=" nav-item" id="u811-4"><!-- content -->
                  <p  style="font-family: 'Zebrazil';" class="font-color">site overview</p>
<!--                  <a  href="#u792" class="nav-link active" data-toggle="tab" role="tab" id="overview" style="font-family: 'Zebrazil';">Overview</a>-->
                </div>
              </div>
            </a>
          </div>
          <div class="popup_anchor">
            <a  href="#u802a" class="nav-link" data-toggle="tab" id = "cost" role="tab" style="font-family: 'Zebrazil';">
              <div class="Thumb popup_element clearfix" id="u812"><!-- group -->
                <div class=" nav-item" id="u813-4"><!-- content -->
                  <p style="font-family: 'Zebrazil';" class="font-color">Cost</p>
                </div>
              </div>
            </a>
          </div>
          <div class="popup_anchor">
            <a  href="#u797" class="nav-link" data-toggle="tab" role="tab" id = "players" style="font-family: 'Zebrazil';">
              <div class="Thumb popup_element clearfix" id="u814"><!-- group -->
                <div class=" nav-item" id="u815-4"><!-- content -->
                  <p  style="font-family: 'Zebrazil';" class="font-color">finding players</p>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
      <%=link_to  new_user_session_path , target: :_blank, class: "nonblock nontext rgba-background clearfix grpelem", id: "u826"  do %>
<!--      <a class="nonblock nontext rgba-background clearfix grpelem" id="u826" href="chat/login.php"><!-- group -->
        <div class="grpelem" id="u828"><!-- custom html --><i class="icon-thumbs-up-alt icon-block" style="line-height:105px;"></i></div><div class="clearfix grpelem" id="u832-6"><!-- content -->
          <span>Chat</span>
          <span>Room 1</span>
        </div>
<!--      </a>-->
      <%end %>
      <%=link_to  new_user_session_path , target: :_blank, class: "nonblock nontext rgba-background clearfix grpelem", id: "u827"  do %><!-- group -->
        <div class="grpelem" id="u830"><!-- custom html --><i class="icon-flag icon-block" style="line-height:105px;"></i></div><div class="clearfix grpelem" id="u833-6"><!-- content -->
          <span>Chat</span>
          <span>Room 2</span>
        </div>
      </a>
      <%end %>
    </div>
    <div class="verticalspacer"></div>
    <%= render 'shared/footer' %>
  </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
    $( document ).ready(function() {
        $('#u810').attr('style', 'background-color: white !important');
        $("#overview").click(function() {
           // alert("overview");
            $("#u792a").show();
            $('#u810').attr('style', 'background-color: white !important');
            $('#u812').attr('style', 'background-color: #CACACA !important');
            $('#u814').attr('style', 'background-color: #CACACA !important');
           $("#u797").removeClass('show', 'active');
           $("#u802a").removeClass('show', 'active');
           $("#u792a").css('display', 'block');
            $("#u797").css('display', 'none');
            $("#u802a").css('display', 'none');

            //Do stuff when clicked
        });
        $("#cost").click(function() {
            // alert("hello");
            $("#u802a").show();
            $('#u812').attr('style', 'background-color: white !important');
            $('#u810').attr('style', 'background-color: #CACACA !important');
            $('#u814').attr('style', 'background-color: #CACACA !important');
            $("#u792a").removeClass('show', 'active');
            $("#u797").removeClass('show', 'active');
            $("#u802a").css('display', 'block');
            $("#u797").css('display', 'none');
            $("#u792a").css('display', 'none');
            //Do stuff when clicked
        });
        $("#players").click(function() {
           // alert("players");
            //Do stuff when clicked
            $("#u797").show();
            $('#u814').attr('style', 'background-color: white !important');
            $('#u810').attr('style', 'background-color: #CACACA !important');
            $('#u812').attr('style', 'background-color: #CACACA !important');
            $("#u792a").removeClass('show', 'active');
            $("#u802a").removeClass('show', 'active');
            $("#u797").css('display', 'block');
            $("#u792a").css('display', 'none');
            $("#u802a").css('display', 'none');
        });
    });
</script>

