<div class="container-fluid upper-container">
  <div class="row">
    <div class="jumbotron">
      <div class="row">
        <div class="col-12 upper-img">
          <!--          <img src="slide_02.jpg" class="img-responsive">-->
          <%= image_tag 'slide_01.jpg', class: "img-responsive"%>
        </div>
      </div>
      <div class="row upper-txt">
        <h1 class="upper-h1 col-12 text-center">- Playing Modes -</h1>

        <div class="row">
          <div class="col-lg-4  col-12 " style="color:#ff1818">
            <p>Playing Strip Me Naked only ends when one player has won enough games to strip all other players.
              The time taken to completion will vary depending on the playing mode.</p>
          </div>
          <div class="col-lg-4  col-12">
            <p>To ensure that Strip Pals is enjoyable and affordable it is important to the site owners that
              it provides real value for money. To achieve this and to cater for all the players 4 different
              levels of playing modes were devised.- </p>
          </div>
          <div class="col-lg-4  col-12">
            <p>It is strongly stressed that this is a action driven by the site owners via the Games Master
              and players can still opt for the own version of playing.
            </p>
          </div>

        </div>


      </div>


    </div>
  </div>
</div>
<hr>

<div class="container bottom-container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mid-data">
      <h2 class="text-center heading-data">
        <!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        <%=link_to "Ace Playing Mode", entries_path, target: :_blank %>
      </h2>

      <p style="color:#2440c0;" class="text-center lines-data">Five Games</p>

      <p style="color:#2440c0;" class="text-center lines-data">The first player to win three games is the winner and the other player must strip.</p>
      <p style="color:#2440c0;" class="text-center lines-data">Second Chance.</p>
      <p style="color:#2440c0;" class="text-center lines-data">Two more games are available for the losing player to get even!! Or to play another mode.</p>



    </div>
    <div class="col-lg-3 col-md-6 col-12 mid-data">
      <h2 class="text-center heading-data">
        <!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        <%=link_to "King Playing Mode", entries_path, target: :_blank %>
      </h2>

      <p style="color:#2440c0;" class="text-center lines-data">Three Games</p>
      <p style="color:#2440c0;" class="text-center lines-data">The first player to win two games is the winner and the other player must strip.</p>
      <p style="color:#2440c0;" class="text-center lines-data">Second Chance.</p>
      <p style="color:#2440c0;" class="text-center lines-data">Another game is available for the losing player to get even!! Or to play another mode

      </p>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mid-data">
      <h2 class="text-center heading-data">
        <!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        <%=link_to "Queen Playing Mode", entries_path, target: :_blank %>
      </h2>

      <p style="color:#2440c0;" class="text-center lines-data">Two Games</p>
      <p style="color:#2440c0;" class="text-center lines-data">Each player wears one piece of clothing and the losing player removes that piece of clothing after each losing
        hand.</p>
      <p style="color:#2440c0;" class="text-center lines-data">Second Chance.</p>
      <p style="color:#2440c0;" class="text-center lines-data">A second game is available for the losing player to get even!!</p>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mid-data">

      <h2 class="text-center heading-data">
        <!--        <img src="pencil-60-119100.png" class="mid-icons">-->
        <%= image_tag 'pencil-60-119100.png', class: "mid-icons"%>
        <%=link_to "Jack Playing Mode", entries_path, target: :_blank %>
      </h2>

      <p style="color:#2440c0;" class="text-center lines-data">Tournament</p>
      <p style="color:#2440c0;" class="text-center lines-data">Each player wears one piece of clothing and the losing player removes that piece of clothing after each losing
        hand.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center last-line">These playing modes have been developed to be fair, cost effective and challenging for players. Please ensure
      the playing mode is communicated to all players before commencing playing.
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 footer-data">
    <div class="tp--mid">
      <h1 class="contact">Contact Us</h1>
      <br>
      <address>
        <a href="mailto:strippals@gmail.com" class="mail">GamesDirector@strippals.com</a><br>
        <a href="mailto:strippals@gmail.com" class="mail">admin@strippals.com</a><br>
        <a href="mailto:strippals@gmail.com" class="mail">help@strippals.com</a>
      </address>
    </div>
  </div>
</div>

<hr>
