<!DOCTYPE html>
<html lang="en">
<head>
	<title>StripPals</title>
  <%#= include_gon %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=yes, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
  <%= image_tag('home-favicon.ico')%>
</head>

<body >

	<%= render 'layouts/nav' %>
<!--	<div class="container">-->
    <%# if request.env['PATH_INFO'] == chats_index_path %>
    <%#else %>
        <%# if user_signed_in? %>
<!--          <li>-->
            <%#= link_to('Logout', destroy_user_session_path, method: :delete) %>
<!--          </li>-->
        <%#end %>
    <%# end %>
		<%# if notice %>
<!--		  <p class="alert alert-success"><%#= notice %></p>-->
		<%# end %>
		<%# if alert %>
<!--		   <p class="alert alert-danger"><%#= alert %></p>-->
		<%# end %>
		<%= yield %>
<!--	</div>-->
</body>
</html>
